@import "tailwindcss";


@font-face {
  font-family: 'RFDewiExtended'; /*  Название шрифта, которое вы будете использовать в Tailwind */
  src: url('./fonts/RFDewiExpanded-Black.woff2') format('woff2'),
       url('./fonts/RFDewiExpanded-Black.woff') format('woff'); /* Путь к файлу шрифта */
  font-weight: 900; /*  Определите вес шрифта (обычно 400 для Regular) */
  font-style: normal; /*  Определите стиль шрифта (обычно normal для Regular) */
  font-display: swap; /*  Оптимизация загрузки шрифта */
}

@font-face {
  font-family: 'RFDewiExtended'; /*  Название шрифта, которое вы будете использовать в Tailwind */
  src: url('./fonts/RFDewiExpanded-Semibold.woff2') format('woff2'),
       url('./fonts/RFDewiExpanded-Semibold.woff') format('woff'); /* Путь к файлу шрифта */
  font-weight: 700; /*  Определите вес шрифта (обычно 400 для Regular) */
  font-style: normal; /*  Определите стиль шрифта (обычно normal для Regular) */
  font-display: swap; /*  Оптимизация загрузки шрифта */
}

@font-face {
  font-family: 'RFDewiExtended'; /*  Название шрифта, которое вы будете использовать в Tailwind */
  src: url('./fonts/RFDewiExtended-Bold.woff2') format('woff2'),
       url('./fonts/RFDewiExtended-Bold.woff') format('woff'); /* Путь к файлу шрифта */
  font-weight: 800; /*  Определите вес шрифта (обычно 400 для Regular) */
  font-style: normal; /*  Определите стиль шрифта (обычно normal для Regular) */
  font-display: swap; /*  Оптимизация загрузки шрифта */
}

@font-face {
  font-family: 'RFDewiExtended'; /*  Название шрифта, которое вы будете использовать в Tailwind */
  src: url('./fonts/RFDewiExtended-Regular.woff2') format('woff2'),
       url('./fonts/RFDewiExtended-Regular.woff') format('woff'); /* Путь к файлу шрифта */
  font-weight: 400; /*  Определите вес шрифта (обычно 400 для Regular) */
  font-style: normal; /*  Определите стиль шрифта (обычно normal для Regular) */
  font-display: swap; /*  Оптимизация загрузки шрифта */
}

@font-face {
  font-family: 'RFDewiExtended'; /*  Название шрифта, которое вы будете использовать в Tailwind */
  src: url('./fonts/RFDewiExtended-Semibold.woff2') format('woff2'),
       url('./fonts/RFDewiExtended-Semibold.woff') format('woff'); /* Путь к файлу шрифта */
  font-weight: 700; /*  Определите вес шрифта (обычно 400 для Regular) */
  font-style: normal; /*  Определите стиль шрифта (обычно normal для Regular) */
  font-display: swap; /*  Оптимизация загрузки шрифта */
}


.gradient {
  background-image: linear-gradient(
    to right,
    #0d99f8,
    #21a0f8,
    #54b5ff,
    #0dbbf8,
    #0ddbf8
  );
}

.footer-laptop {
  display: none;
}

@media (max-width: 1100px) {
  .footer-laptop {
    display: none;
  }
}

@media (min-width: 600px) {
  .footer-laptop {
    display: flex;
  }
}


body {
  font-family: 'RFDewiExtended', 'sans-serif';
}

